/* 
  Author: Ese Odiase
  GitHub: github.com/eseodiase
  LinkedIn: https://ng.linkedin.com/in/ese-g-odiase-220576196
*/
  :root {
    --font-family_1: 'Rubik', sans-serif;
    --app_bg: hsl(270, 20%, 96%);
    --pink: hsl(293, 100%, 63%);
    --purple: hsl(264, 100%, 61%);
    --gradient_to_bottom_right: linear-gradient(
      to bottom right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
    );
    --gradient_to_left: linear-gradient(
      to left,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
    );
    --avatar_outline: 1px solid hsl(0, 100%, 100%);
    --white: hsl(0, 100%, 100%);
    --left_chat_bg: hsl(276, 55%, 93%);;
    --left_chat_color: hsl(276, 55%, 52%);
    --right_chat_color: hsl(270, 7%, 64%);
    --subheading: hsl(276, 100%, 81%);
    --submit_btn: hsl(271, 36%, 24%);
    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    --placeholder_txt: hsl(206, 6%, 79%);
    --radio_outline: 1px solid hsl(289, 100%, 72%);
    --article_heading: hsl(271, 36%, 24%);
  }
  
  /* Mobile first workflow*/
    html, body{
      margin: 0;
      padding: 0;
      font-family: var(--font-family_1);
    }
    
    main{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
    
    .wrapper{
      text-align: center;
    }
    
    .wrapper__left-design,
    .wrapper__right-design{
      height: 100vh;
      min-width: calc(100% - 6vw);
      margin: 0;
      padding: 0;
      display: inline-flex;
      z-index: -1;
    }
    
    .wrapper__left-design{
      background: var(--gradient_to_bottom_right);
      left: -9.7rem;
      bottom: 10.4rem;
      position: fixed;
      border-radius: 0 0 1500px 1500px;
    }
    
    .wrapper__right-design{
      height: 42vh;
      background: var(--pink);
      right: -9.7rem;
      bottom: 0;
      position: fixed;
      border-radius: 1500px 1500px 0 0;
      opacity: 0.03;
    }
    
    .app{
      display: flex;
      flex-direction: column;
      margin-inline: 35px;
      margin-block: 60px;
    }
    
    .app__container {
      border-radius: 1.875rem;
      box-shadow: var(--shadow);
      -webkit-box-shadow: var(--shadow);
      -moz-box-shadow: var(--shadow);
      background: var(--white);
      padding-inline: 0.9375rem;
      padding-block: 0.9375rem;
    }
    
    .app__screen {
      background: var(--app_bg);
      border-radius: 20px;
    }
    
    .app__top-screen {
      max-height: 5rem;
      background: var(--gradient_to_left);
      border-radius: 20px 20px 8px 8px;
    }
    
    .app__top-design{
      height: 1.5625rem;
      background: var(--white);
      border-radius: 0 0 20px 20px;
      margin-inline: 3.5rem;
    }
    
     .app__user-info{
      color: var(--white);
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-inline: 18px;
    }
    
    .cir, .txt{
      margin-inline-start: -66px;
      text-align: left;
      line-height: 0.3;
    }
    
    .cir{
      width: 1.625rem;
      height: 1.625rem;
      background: var(--submit_btn);
      border-radius: 50px;
      border: var(--avatar_outline);
    }
    
    .txt .p1{
      font-weight: 700;
      font-size: 0.875rem;
    }
    
     .txt .p2{
      font-size: 0.625rem;
      font-weight: 400;
      color: var(--subheading);
    }
    
     .left-chat {
      text-align: left;
      background: var(--left_chat_bg);
      border-radius: 12px 12px 12px 3px;
      width: 8.75rem;
      margin-inline: 0.5rem;
      margin-block: 0.5rem;
      padding-inline: 0.0625rem;
      padding-block: 0.0625rem;
    }
 
    .left-chat p {
      margin-inline: 0.625rem;
      margin-block: 0.625rem;
      font-size: 0.5525rem;
      color: var(--left_chat_color);
    }
    
    .images {
      max-width: 16.25rem; 
      margin-inline: 0.625rem;
      float: right;
    }

    img {
      width: 2.75rem;
      height: 2.75rem;
      border-radius: 0.625rem;
      margin-inline-start: 0.25rem;
    }
    
    .right-chat {
      clear: both;
      text-align: left;
      background: var(--white);
      border-radius: 12px 12px 3px 12px;
      max-width: 8.75rem;
      margin-inline: 0.625rem;
      margin-block-end: 0.625rem;
      float: right;
    }
    
    .left-chat{
      clear: both;
    }

    .right-chat p {
      margin-inline: 0.625rem;
      margin-block: 0.625rem;
      font-size: 0.5525rem;
      color: var(--right_chat_color);
    }
    
    .price {
      text-align: left;
      background: var(--gradient_to_left);
      border-radius: 12px 12px 12px 3px;
      width: 10.5rem;
      height: 2.125rem;
      margin-inline: 0.5rem;
      margin-block: 0.5rem;
      padding-inline-start: 0.625rem;
      color: var(--white);
      display: flex;
      align-items: center;
      position: relative;
    }
    
    .price .radio{
      z-index: 999;
      opacity: 0;
      position: absolute;
      margin-block-start: -0.4625rem;
    }
    
    .price .circ {
      width: 0.9375rem;
      height: 0.9375rem;
      border-radius: 50px;
      border: var(--radio_outline);
      position: absolute;
      margin-inline-start: 0.28125rem;
      margin-block-start: -0.4875rem;
    }
    
    .price label{
      margin-inline-start: 1.75rem;
    }
    
    .price .radio:checked ~ .circ{
      background: var(--white);
      cursor: pointer;
    }
    
    .price .txt {
      font-size: 0.5625rem;
      font-weight: 400;
      margin-inline-start: -0.375rem;
    }
    
    .price .fig {
      font-size: 1rem;
      font-weight: 700;
      margin-inline-start: 1.875rem;
    }
    
    .price #fig-2 {
      margin-inline-start: 2.8rem;
    }
    
    input[type="text"] {
      width: calc(100% - 2.8rem);
      height: 2.1875rem;
      outline: none;
      background: var(--white);
      border: none;
      border-radius: 50px;
      padding-inline-start: 1.5625rem;
      margin-block-start: 0.5rem;
      margin-block-end: 0.75rem;
      margin-inline-start: -0.5rem;
    }
    
    .msg::placeholder {
      color: var(--placeholder_txt);
      font-size: 0.625rem;
    }
    
    button{
      width: 1.5625rem;
      height: 1.5625rem;
      outline: none;
      background: var(--submit_btn);
      border: none;
      border-radius: 50px;
      color: var(--white);
      font-size: 0.9375rem;
      margin-inline-start: -2.25rem;
      cursor: pointer;
    }

    article{
      text-align: center;
    }
    
    article h1{
      font-size: 2.2rem;
      font-weight: 700;
      color: var(--article_heading);
      margin-block-end: 0;
    }
    
    article p{
      font-size: 1rem;
      font-weight: 500;
      line-height: 2;
      color: var(--right_chat_color);
    }
    
    /* Breakpoint for smaller devices */
    @media (max-width: 20rem) {
    .wrapper__left-design,
    .wrapper__right-design {
      min-width: calc(100% - 0.5vw);
    }
    
    .app {
      margin-inline: 20px;
    }
    
    .cir, 
    .txt {
      margin-inline-start: -50px;
    }
    }
    
    /* Breakpoint for small devices */
    @media (min-width: 23.44rem) {
    .wrapper__left-design,
    .wrapper__right-design {
      min-width: calc(100% - 6.5vw);
    }
    }
    
    @media (min-width: 25.69rem) {
    .wrapper__left-design,
    .wrapper__right-design {
      min-width: calc(100% - 9vw);
    }
    }
    
    /* Breakpoint for medium devices */
    @media (min-width: 37.5rem) {
      .wrapper__left-design,
      .wrapper__right-design {
        min-width: calc(100% - 25vw);
      }
      
      .app {
        margin-inline: 7.5rem;
      }
    }
    
    /* Breakpoint for large devices */
    @media (min-width: 48rem) {
      .wrapper__left-design,
      .wrapper__right-design {
        height: 100vh;
        min-width: calc(100% - 60vw);
      }
      
      .wrapper__right-design {
        right: -16rem;
        top: 10.4rem;
        opacity: 0.04;
      }
      
      .app {
        flex-direction: row;
        align-items: flex-start;
        margin-inline: 5rem;
        margin-block: 0;
      }
      
      .app__container {
        margin-inline: 35px;
        max-width: 230px;
      }
      
      .cir,
      .txt {
        margin-inline-start: -14px;
      }
      
      article {
        text-align: left;
        align-self: center;
        margin-inline: 35px;
        max-width: 450px;
      }
    }
    
    @media (min-width: 75rem) {
      .app {
        margin-inline: 11.25rem;
      }
      
      .app__container {
        margin-inline: 45px;
        width: 230px;
      }
      
      article {
        width: 450px;
        margin-inline: 45px;
      }
    }
    
    footer {
      display: none;
    }

    

